@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap');

html, body {
    height: 100%;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    background-color: #ffffff;
  }
  
  a {
    color: inherit;
  }

  a:hover {
    color: inherit;
    text-decoration: none;
  }

  body {
    overflow-x: hidden !important;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
   
body::-webkit-scrollbar-track {
    width: 10px;
}
   
body::-webkit-scrollbar-thumb {
    background-color: rgb(172, 172, 172);
    border-radius: 20px;
    border: 1px solid #e2e2e2;
}

  .clickable {
    cursor: pointer;
  }
  
  .hoverable:hover {
    opacity: 0.7;
  }
  
  .red-text {
    color: #f44336 !important;
  }

  .firstname {
    font-weight: 400;
    font-size: 22px;
  }

  .lastname {
    font-weight: 900;
    font-size: 22px;
  }

  .jobtitle {
    font-weight: 900;
    font-size: 28px;
  }

  .logo-text span {
    line-height: 0.8;
    font-family: 'Roboto';
  }
  
  .page-wrapper {
    padding-top: 20px;
    margin: 0 auto;
  }

  .blog-page-wrapper {
    margin-top: 60px;

  }
  
  
  .card.fj-card {
    // padding-top: 50px;

    .card-body-wrapper {
      background-color: #fff;
      border-radius: 10px;
      // border: 1px solid rgba(128, 128, 128, 0.4);
      box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.2);
      min-height: 300px;
      position: relative;
      z-index: 2;
      transition: ease-in-out 0.2s;

    }
  
    .card-body {
      padding: 15px 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
     
      .card-title {
        font-weight: bold;
        margin-bottom: 3px;
      }

    }
  
    .card-date {
      font-size: 13px;
    }
  
    .card-main-title {
      font-size: 22px;
    }
  
    .card-header {
      background-color: transparent;
      padding: 0px 0px 15px;
      img {
        --size: 45px;
        background-color: #fff;
        
        border-radius: 50%;
        // box-shadow: 2px 5px 25px rgba(0, 0, 0, .15);
        // left: 10px;
        // position: absolute;
        top: calc(-1 * (var(--size) / 2));
        width: var(--size);
        height: var(--size);;
      }
    }

    .view-overlay {
      position: relative;
    }

    .card-image {
      object-fit: cover;
      height: 250px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  
    &.fj-card-list {
      .card-body-wrapper {
        min-height: 180px;

      }
  
      .card-header {
        background-color: transparent;
        padding-bottom: 5px;
      }
    }
  }
  
  .card.fj-card.placeholder {
    color: transparent;
    .image-placeholder {
      height: 200px;
      width: 100%;
      background-color: #bebebe;
    }
  
    .card-title, .card-text, .card-date {
      background-color: #bebebe;
    }
  }
  
  .card {
    margin-bottom: 60px;
    border: none;
    opacity: 1;
    transition: ease-in-out 0.2s;
  }

  .card-img-container {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card-img-container img {
    filter: brightness(1.1);
  }

  .card-body-wrapper:hover {
    // transform: scale(1.02);
    transform: translateY(-3px);
    filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.1));
  }

  
  // HEADER STARTS
  .fj-navbar.fj-nav-base {
    width: 100%;
    padding: 50px 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a h2 {
      color: #232129;
      font-weight: 900;
      
  
      &-item {
        margin-left: 10px;
        margin-right: 10px;
      }
  
      &-link {
        color: black;
        letter-spacing: 0.8px;
        font-size: 18px;
        text-transform: uppercase;
  
        &.active {
        color: #dba919;
        }
  
        &:hover, &:focus {
          color: #dba919;
        }
      }
    }
  
    .fj-dropdown-menu {
  
      .fj-dropdown-item {
        color: #4e4e4e;
  
        &.active {
          color: #dba919;
        }
      }
  
      .fj-dropdown-toggle {
        color: white;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  
  .fj-navbar.fj-nav-base.fj-nav-default {
    padding: 30px;
    background-color: black !important;
  }
  
  
  .bg-transparent.menu-open {
    background-color: #2C3E50 !important;
  }
  
  .bg-transparent.menu-close {
    transition: 1s;
  }
  // HEADER ENDS
  
  .card-header {
    display: flex;
    // justify-content: center;
    align-items: center;
  
    &-title {
      margin-bottom: 0;
    }
  }
  
  .hljs {
    padding: 20px;
    border-radius: 10px
  }
  
  .code-filename, .image-alt {
    opacity: 0.6;
    margin-top: 10px;
    font-style: italic;
    font-size: 14px;  
  }

  .blog-code-container {
    margin: 40px 0;
  }
  
  .blog-image {
    // margin-top: 60px;
    padding-top: 30px;
    text-align: center;
    
    &-left {
      margin-right: 30px;
      float: left;
    }

    &-center {
      margin: 50px;
    }

    &-right {
      margin-left: 30px;
      float: right;
    }
  }




  .image-alt {
    margin-top: 3px;
  }
  
  
  .blog-detail-page {
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
  
    .blog-detail-header {
      .lead {
        font-size: 17px;
      }
      &-title {
        font-size: 42px;
        font-weight: 800;
      }
      &-subtitle {
        font-size: 22px;
        font-weight: 300;
        color: #8d8d8d;
      }

    }
  }

  .block-content {
    font-size: 17px;

    h1, h2, h3 {
      font-family: 'Raleway';
      font-weight: 700;
      margin: 10px 0;
      padding-top: 20px;
    }

    h4, h5, h6 {
      font-family: 'Raleway';
      margin: 6px 0;
    }

    img {
      border-radius: 4px;
    }

  }

  .img-fluid {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
  }
  
  .admin-intro {
    .welcome-text {
      font-size: 18px;
    }
  }
  
  
  .dark {
    .card.fj-card {
      background-color: #232129;
      transition: color 0s ease-out 0s, background 0.2s ease-out 0s;
      .card-body-wrapper {
        background-color: #232129;
        transition: color 0s ease-out 0s, background 0.2s ease-out 0s;
      }
  
      .card-button {
        background-color: #9b5f5f;
      }
    }
  
    .fj-navbar.fj-nav-base {
      width: 100%;
      padding: 20px 0px;
  
      .fj-navbar {
        &-brand {
          color: #ffffff;
        }
  
        &-link {
          color: #ffffff;
        }
      }
    }
  }

  
  .day-night-toggle.react-toggle {
    &.react-toggle--checked:hover {
      &:not(.react-toggle--disabled) .react-toggle-track {
        background-color: black;
      }
    }
  
    .react-toggle-track {
      background-color: black;
      &:hover {
        background-color: black;
      }
  
      &-x, &-check {
        right: 8px;
        width: 15px;
        height: 15px;
  
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  
  .page-footer {
    padding: 40px 0 40px;
    font-size: 20px;
    text-align: center;
  
    a {
      color: #63696e;
    }
  }

  .mobile-menu {
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    box-shadow: rgba(50, 50, 50, 0.4) 0px 0px 32px, rgba(0, 0, 0, 0.14) 0px 6px 16px;
    display: none;
  }

  .sticky-menu {
    top: 7%;
    width: fit-content;
    height: 60px;
    z-index: 1000;
    pointer-events: none;
    
    .menu-wrapper {
        height: 100%;
        float: right;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px 30px;
        // margin: 0 auto;
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        box-shadow: rgba(50, 50, 50, 0.03) 0px -16px 12px, rgba(0, 0, 0, 0.05) 0px 6px 6px;
        transition: ease-in-out all 0.3s;
        pointer-events: all;
    }

    .nav-icon {
      height: 22px;
      width: auto;
      color: rgb(156, 156, 156);
      transition: ease-in-out 0.2s;
    }

}

@media (max-width: 768px) {
  .sticky-menu {
      bottom: 0;
      height: 70px;
      width: 100%;
      margin: 30px auto 0;
  }

  .bottom-fade {
    display: none;
  }

  
}


@media (max-width: 500px) {
    .sticky-menu {
        display: none;
    }
    
    .mobile-menu {
      display: block;
  
    }
}

.menu-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  padding: 5px 50px;
  margin: 0 10px;
  width: 50px;
  border-radius: 50px;
  transition: ease-in-out 0.2s;

  .icon {
      height: 24px;
  }

  h6 {
    color: rgb(156, 156, 156);
    margin: 0;
    transition: ease-in-out 0.2s;
  }

  .title {
      font-size: 13px;
      font-weight: 400;
      text-decoration: none;
      color: #272727;
  }

}

.menu-item:hover {
  // background-color: #2d55e557;
  background-color: #f8f8f8;
  cursor: pointer;
}

.menu-item:hover > h6 {
  color: #8359ff;
}

.menu-item:hover > .nav-icon {
  color: #8359ff;
}

.bottom-fade {
  height: 190px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: linear-gradient(#ffffff00, #eeeeee, #eeeeee);
  z-index: 999;
  pointer-events: none
}